<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="OracleDefaultConn"
			 connectionString="Data Source=localhost:1521/DB_BAOMAT; User Id=ADMIN_BM; Password=Oracle_1234;"
			 providerName="Oracle.ManagedDataAccess.Client" />
	</connectionStrings>
</configuration>